extends layout

block content
  #vision
    canvas#starscreen(class='zoom1', bounds="#{bounds}")
    #info
      h1 Exobrowser
      p(id='moreinfo')
      p Click on any star for more info.
      p To zoom in, double click on the map.
      p 
        a(href='/systempage') Go here
        &nbsp;to see the full star catalog.

    script(src='/javascripts/painter.js')
