include macro
doctype html
html
  head
    title Exobrowser
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(name='theme-color' content='#336699')
    script(src='/javascripts/jquery.js')
  body
    block content
